@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto+Mono&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background: #eb4d4b;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #dff9fb;
    height: 60px;
    border-radius: 60px;
    padding: 10px;
}

.search-button {
    color: white;
    float: right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #7ed6df, #7bed9f, #7ed6df, #78e08f);
    background-size: 300% 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    outline: none;
    animation: change 3s ease-in-out infinite;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 60px;
    width: 0;
}

.search-box:hover {
    background: linear-gradient(-45deg, #f0932b, #7ed6df, #78e08f, #fbc531);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    transition: linear 0.5s;
}

.search-box:hover>.search-text {
    width: 380px;
    padding: 0 6px;
    color: #30336b;
}

.search-box:hover>.search-button {
    background: #2d3436;
}

.search-text:focus {
    width: 380px;
    padding: 0 0px;
    color: #30336b;
}

.search-text:focus>.new-program a {
    top: 10%
}

#toast {
    position: fixed;
    top: 0px;
    left: 50%;
    position: absolute;
    background-color: #f6e58d;
    color: #30336b;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    z-index: 1;
    box-shadow: 1 1 20px rgba(0, 0, 0, 0.486);
    visibility: hidden;
    transition: ease-in-out 0.4s;
}

#toast.show {
    visibility: visible;
    top: 20px;
    transition: 0.4s;
    transform: translate(-50%, 0%);
}

.choice a {
    text-decoration: none;
    color: white;
    font-size: 250%;
    text-align: center;
    letter-spacing: 5px;
    padding: 2rem 2rem;
    border: 12px solid white;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 15rem;
    height: 4rem;
    text-align: center;
    top: 70%;
    transition: ease-in-out 0.4s;
}

.new-program a {
    left: 33.33%;
}

.new-program a:hover {
    border: 0px solid white;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #78e08f, 0 0 80px #2196f3;
    width: 20rem;
    height: 7rem;
    font-size: 350%;
    z-index: 1;
}

.new-employee a {
    left: 66.66%;
}

.new-employee a:hover {
    border: 0px solid white;
    background: #78e08f;
    box-shadow: 0 0 10px #78e08f, 0 0 40px #ff6b81, 0 0 80px #78e08f;
    width: 20rem;
    height: 7rem;
    font-size: 350%;
    color: white;
    z-index: 1;
}

@media only screen and (max-width: 900px) {
    .search-box {
        top: 180px;
        position: fixed;
    }
    .choice a {
        border: 6px solid white;
        padding: 1.5rem 1.5rem
    }
    .new-program a {
        top: 400px;
        left: 50%;
        position: fixed;
    }
    .new-employee a {
        top: 580px;
        left: 50%;
        position: fixed;
    }
    .search-box:hover>.search-text {
        width: 180px;
        padding: 0 6px;
        color: #30336b;
        transition: ease-out 1s;
        position: absolute;
    }
    .search-box:hover {
        width: 280px;
        transition: ease-in-out 0.6s;
    }
    .search-text:focus {
        width: 180px;
        padding: 0 6px;
        color: #30336b;
    }
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
