<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/2ff38ac57d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
    <title>新增项目</title>

</head>

<body>
    <div class="add_record">
        <form method='post'> {% csrf_token %} {{ form.as_p }}
            <button class='submit' type='submit'>
                提交
            </button>
        </form>
    </div>

</body>

</html>