{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/add_employee.css' %}">
{% endblock head%}

{% block title %}新增员工{% endblock title %}

{% block content %}
<h1>新增员工</h1>
<div class="go-back">
    <a href="/">返回</a>
</div>

<div class="add_record">
    <form method="post">
        {% csrf_token %} {{ form.non_field_errors }}
        <div class="row_pair">
            <div class="left">
                {{ form.姓名.errors }} {{ form.姓名.label_tag }} {{ form.姓名 }}
            </div>
            <div class="right">
                {{ form.员工号.errors }} {{ form.员工号.label_tag }} {{ form.员工号 }}
            </div>
        </div>

        <div class="row_pair">
            <div class="left">
                {{ form.部门.errors }} {{ form.部门.label_tag }} {{ form.部门 }}
            </div>
            <div class="right">
                {{ form.单位人工.errors }} {{ form.单位人工.label_tag }} {{ form.单位人工 }}
            </div>
        </div>

        <div class="row_pair">
            <div class="left">
                {{ form.预算人工.errors }} {{ form.预算人工.label_tag }} {{ form.预算人工 }}
            </div>
            <div class="right">
                {{ form.实际人工.errors }} {{ form.实际人工.label_tag }} {{ form.实际人工}}
            </div>
        </div>

        <button class='submit' type='submit' onclick="return confirm('是否确定提交表格?')">
            提交
        </button>
    </form>
</div>
{% endblock content %}
