{% extends 'base.html' %}
{% load static %}
{% block head %}
<script src="{% static 'js/index.js'%}"></script>
<script src="{% static 'js/base.js' %}"></script>
<link rel='stylesheet' type='text/css' href="{% static 'css/index.css' %}" />
{% endblock head %}

{% block title %}Search{% endblock title %}



{% block content %}
<div class="content">
    <div class='search-box'>
        <input id='index-search-text' class='search-text' type="text" placeholder="Type to search" value="{{search_num}}" required>
        <button class="search-button" type='submit' id='search-button' onclick="sss('{{x}}')">
            <i class="fa fa-search">
            </i>
        </button>
    </div>
    <div class='choice'>
        <div class="new-program">
            <a href="/new-program/">新增任务</a>
        </div>

        <div class="new-employee">
            <a href="/new-employee">战队招募</a>
        </div>
    </div>
</div>
{% endblock content %}

</body>
</html>
